{% extends 'SiteBundle::main.html.twig' %}
{% block content %}
    
    @TODO albums
    <br/>
    @TODO lyrics
    <br/> <br/>
    
    {% for lyric in lyrics %}
        <a href="{{ path('lyricView', {id:lyric.id}) }}">{{ lyric.title|e }}</a>
        <br/>
    {% endfor %}
{% endblock %}