{% extends 'SiteBundle::main.html.twig' %}
{% block content %}
    
    <h1>
        {{ artist.name }}
    </h1>
    
    @TODO albums
    <br/>
    <br/> <br/>
    
    {% for lyric in lyrics %}
        <a href="{{ path('lyricView', {id:lyric.id}) }}">{{ lyric.title|e }}</a>
        <br/>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(lyrics) }}
    </div>
{% endblock %}
