{% extends 'SiteBundle::main.html.twig' %}
{% block content %}

    <br><br><br>
    e-mail: <b>tekstove.info@gmail.com</b>
    <br><br><br>
    facebook: 
    <a href="http://www.facebook.com/pages/%D1%82%D0%B5%D0%BA%D1%81%D1%82%D0%BE%D0%B2%D0%B5%D0%B8%D0%BD%D1%84%D0%BE/121306641245195" target="_blank">
        <b>
            www.facebook.com/pages/текстовеинфо/121306641245195
        </b>
    </a>
    
    <br><br><br>
    twitter:
        <a href="https://twitter.com/#!/tekstoveinfo" target="_blank">
            <b>
                twitter.com/#!/tekstoveinfo
            </b>
        </a>
    <br><br><br>
    Банери:
    <br><br>

    <img src="images_banner/4.gif">
    <br>
    <input type="text" size=60 value="http://tekstove.info/images_banner/4.gif">

    <br><br><br><br>

    <img src="images_banner/3.jpg">
    <br>
    <input type="text" size=60 value="http://tekstove.info/images_banner/3.jpg">

    <br><br><br><br>

    <img src="images_banner/1.jpg">
    <br>
    <input type="text" size=60 value="http://tekstove.info/images_banner/1.jpg">

    <br><br><br>

    <img src="images_banner/2.gif">
    <br>
    <input type="text" size=60 value="http://tekstove.info/images_banner/2.gif">
    <br><br><br>

{% endblock %}
