В сайта се пише на Български!<br>
<br>
<ol>
    <li>Вие сте на 16 или повече години
    <li>Изпращане на текст
    <ol>
        <li>При изпращане на текст, проверете дали песента вече я няма качена, може да ползвате търсачката
        <li>Ако се дублират песни, се трие по-новата ( с по-голямо id )
id-то се вижда в адреса на страницата с песента, http://tekstove.info/browse.php?id=111
        <li>Забранява се поставянето на преводи на езици различни от български
(имайте в предвид транскрибция не е превод)
        <li>Забранявам копирането на преводи, без позволение на автора/за наказание може даже да ви изтрием акаунта/
    </ol>
    <li>Изпращане на преводи
    <ol>
        <li>Преводи се пращат или с Д о б а в и п р е в о д при разглеждане на текст, или като пуснете тема тук
    </ol>
    <li>Изпращане на албум
    <ol>
        <li>При изпращане на албум, проверете дали вече го няма качен
        <li>Ако се дублират албуми, се трие по-новия ( с по-голямо id )
    </ol>
    <li>СПАМ е забранен навсякъде, с изключение на отредения за това раздел раздел за спам.
    <ol>
        <li>Без ХХХ или warez линкове.
        <li>Без директни обиди към потребител/и
    </ol>
    <li>Не копирайте аватарите на другите /отнася се само за личните снимки/
        <ol>
            <li>Не се правете на някой друг
        </ol>
    <li>Поверителност
        <ol>
            <li> Сайтът tekstove.info може да използва някой от следните техники за следене на потребителите. Те се използват с цел анализ и предоставяне на по-добра услуга.
            <li>Log Files. Тези файлове могат да съдържат вашият IP адрес, доставчик, версия на браузър и операционна система, дата и час на влизане в сайта, от къде сте влезнали в сайта (referrers), както и версии на някои приложения, инсталирани на вашият компютър, като Flash и Java.
            <li>Cookies and Web Beacons<br/>
                Сайтът може да използва cookies (бисквитки) за нормалното му функциониране, като идентификация, настройки, запазване на сесия.
                Сайтът може да предостави възможност на 3-ти страни да слагат техни cookies или web beacons при показване на рекламни блокове, или извършване на анализ. Повечето рекламни компании използват технологии, които могат да вземат вашият IP адрес и да извършат гео-локализация, с цел по-точно таргетиране на предоставяната от тях реклама/услуга.
            <li>Доставчиците - трети страни, включително Google, използват ,,бисквитки", за да показват реклами въз основа на предишните посещения на потребителите в уебсайта.
                Използването на ,,бисквитката" DART позволява на Google и нейните партньори да показват реклами на потребителите въз основа на посещенията ви и на други сайтове в интернет.
                Може да откажете използването на ,,бисквитката" DART, като посетите страницата за отказване (http://www.google.bg/privacy_ads.html) на рекламирането.
        </ol>
    <li>Потребителски настройки
        <ol>
            <li>Nickname (прякорът, потребителското име) на потребител не може да бъде обидна дума или да е в разрез с някое от правилата.
            <li>Аватарът (картинното изображение) на потребител трябва да се придържа към правилата на сайта.
            <li>Няколко потребителя могат да имат един и същ аватар, стига това да е постигнато по взаимно съгласие.
            <li>Сигнатурата (подписът) на потребител трябва да се придържа към правилата.
            <li>Прякорът, Аватарът, подписът или други не могат да съдържат подвеждаща информация за статуса на потребителя в сайта.
            <li>Изключения от правилата могат да се правят само за прякора по усмотрение на администрацията.
        </ol>
    <li> Обработка и съхранение на лични данни
        <ul>
            <li>email адрес
                защо? колко време?
            <li>likes, votes, forum posts?
                
            <li>Personal data that is processed when you communicate with us:
                mail, name, phone
            <li>Transfers of Personal Data -> token?
            <li>Websites:
За да предоставим по-добра услуга, ние агрегираме статистики отностно това как се използва сайтът и какви са времената за реакция.
Използваме услугите на трети страни за събирането на тази информация.
Информацията включва: IP адрес, местонахождение, тип browser, език на browser, дата и време на посещението, брои посещения, посетени страници,
посетени връзки които се избират. Може да използваме бискритки(cookies), web beacons, картинки или подобни техники в сайтът, за да събираме и анализираме подобна информация.

Използваме информацията за да предоставим по-добро, по-персонализирано съдържание, измерваме ефективността (включително да реклами), търсим и оправяме проблеми, подобряваме работата със сайта.
Използваме няколко трети страни, за да предоставяме реклама // adsense
Те могат да използват pixel-и или подобни технологии, за да събират информация за сайтовете които посещавате, използват тази информация за да ви показват персонализирани реклами.
За повече информация може да прегледате Networkadvertising.org.

If you do not want information collected through the use of these technologies, there is a simple procedure in most browsers that allows you to automatically decline many of these technologies, or to be given the choice of declining or accepting them.

Имате възможност да променяте настроиките за това как използваме бисквитки, изключение от това са само бисквитките които са нужни за функционирането на сайтът - тях не можете да ги изключите.
            <li>
                <ul>
                    <li>Analytics services:
                        Google: Google Analytics се използва да съхранява статистики, демографска информация, интереси, поведение в сайта.
                        Може да научите повече тук <a href="https://www.google.com/analytics/">www.google.com/analytics</a>
                    <li> We also use Google Search Console to help understand how our website visitors find our website and to improve our search engine optimization. Find out more information about how this analytics information may be used, how to control the use of your information, and how to opt-out of having your data used by Google Analytics.
                    <li>cloudflеar?
                </ul>

            <li>Privacy Policy Updates
                We may update this Privacy Policy from time to time as we add new products and apps, as we improve our current offerings and as technologies and laws change.
                You can determine when this Privacy Policy was last revised by referring to the “Last updated” legend at the top of this page.
                Any changes will become effective upon our posting of the revised Privacy Policy.

                We will provide notice to you if these changes are material and, where required by applicable law, we will obtain your consent.
                This notice will be provided by email or by posting notice of the changes on the Garmin websites and apps that link to this Privacy Policy.

            <li>Запазване на лични данни. 
                <ul>
                    <li>Ние пазим личните ви данни докато профилът ви се счита за активен
                </ul>
            <li>Contact?
            <li>Правата ви
                <ul>
                    <li>Имате право да поискате достъп до личните си данни
                    <li>Имате право да поискате да изтрием личните ви данни
                    <li>Може да поискате личните си данни в преносим формат.
                </ul>
            <li>Privacy Policy Updates | Mail, notification?
                
        </ul>
    <li>Връзки
        <ul>
            <li>http://en.wikipedia.org/wiki/Web_beacon
            <li>http://bg.wikipedia.org/wiki/HTTP-бисквитка
            <li>http://www.networkadvertising.org
        </ul>
</ol>
