<ol>
    <li>Вие сте на 16 или повече години.
    <li>Изпращане на текст:
    <ol>
        <li>При изпращане на текст проверете дали песента не е вече качена. За целта може да използвате търсачката.
        <li>Ако се дублират песни, се трие по-новата (с по-голямо id).
            id-то се вижда в адреса на страницата с песента, https://tekstove.info/lyric/view/<b>111</b>
        <li>Забранява се поставянето на преводи на езици различни от български (транскрибция не е превод).
        <li>В сайта се пише на Български.
        <li>Забранено е копирането на преводи без позволение на автора /за наказание акаунтът Ви може да бъде изтрит/.
        <li>Забранено е да слагате линкове за сваляне на песните. Има хора, които се грижат за това, а това е свързано с кореспонденция с изпълнителя/те.
    </ol>
    <li>Изпращане на преводи:
    <ol>
        <li>Преводи се пращат или с <b>Добави&nbsp;превод</b> при разглеждане на текст.
    </ol>
    <li>Изпращане на албум:
    <ol>
        <li>При изпращане на албум проверете дали вече не е наличен.
        <li>Ако се дублират албуми, се трие по-новия (с по-голямо id).
    </ol>
    <li>СПАМ е забранен навсякъде.
    <li>Не копирайте аватарите на други потребители /отнася се само за личните снимки/.
        <ol>
            <li>Не взимайте чужда самоличност.
        </ol>
    <li>Поверителност:
        <ol>
            <li> Сайтът tekstove.info може да използва някои от следните техники за следене на потребителите. Те се използват с цел анализ и предоставяне на по-добра услуга.
            <li>Log Files. Тези файлове може да съдържат вашия IP адрес, доставчик, версия на браузър и операционна система, дата и час на влизане в сайта, от къде сте посетили сайта (referer), както и версии на някои приложения, инсталирани на вашия компютър като Flash и Java.
            <li>Cookies and Web Beacons<br/>
                Сайтът може да използва cookies (бисквитки) за нормалното му функциониране като идентификация, настройки, запазване на сесия.
                Сайтът може да предостави възможност на 3-ти страни да слагат техни cookies или web beacons при показване на рекламни блокове или извършване на анализ. Повечето рекламни компании използват технологии, които могат да вземат вашият IP адрес и да извършат гео-локализация, с цел по-точно таргетиране на предоставяната от тях реклама/услуга.
            <li>Доставчиците - трети страни, включително Google, използват "бисквитки", за да показват реклами, въз основа на предишните посещения на потребителите в уебсайта.
                Използването на ,,бисквитката" DART позволява на Google и нейните партньори да показват реклами на потребителите, въз основа на посещенията Ви и на други сайтове в интернет.
        </ol>
    <li>Потребителски настройки:
        <ol>
            <li>Nickname (прякорът, потребителското име) на потребител не може да бъде обидна дума или да е в разрез с някое от правилата.
            <li>Аватарът (картинното изображение) на потребител трябва да се придържа към правилата на сайта.
            <li>Няколко потребители могат да имат един и същи аватар, стига това да е постигнато по взаимно съгласие.
            <li>Сигнатурата (подписът) на потребител трябва да се придържа към правилата.
            <li>Прякорът, аватарът, подписът или други не могат да съдържат подвеждаща информация за статуса на потребителя в сайта.
            <li>Изключения от правилата могат да се правят само за прякора по усмотрение на администрацията.
        </ol>
    <li> Обработка и съхранение на лични данни:
        <ul>
            <li>email адрес - нужен е, за да комуникараме с вас и за възстановяване на забравена парола или потребителско име.
            <li>Харесвания на текстове, гласувания за текстове - нужно е, за да изготвяме класирания за песни и за да Ви предоставим по-персонализирано съдържание.
            <li>Лични данни, които пазим, когато Вие комуникирате с нас: email, име, прякор.
            <li>За да предоставим по-добра услуга, ние агрегираме статистики отностно това как се използва сайтът и какви са времената за реакция.
                Използваме услугите на трети страни за събирането на тази информация.
                Информацията включва: IP адрес, местонахождение, тип browser, език на browser, дата и време на посещението, брой посещения, посетени страници,
                посетени връзки, които се избират. Може да използваме бисквитки(cookies), web beacons, картинки или подобни техники в сайта, за да събираме и анализираме подобна информация.

                Използваме информацията, за да предоставим по-добро, по-персонализирано съдържание, измерваме ефективността (включително на реклами), търсим и оправяме проблеми, подобряваме работата със сайта.
                Използваме няколко трети страни, за да предоставяме реклама.
                Те могат да използват pixel-и или подобни технологии, за да събират информация за сайтовете, които посещавате, използват тази информация, за да Ви показват персонализирани реклами.
                За повече информация може да прегледате <a href="http://www.networkadvertising.org">Networkadvertising.org</a>.
                Ако не искате да събираме подобна информация за вас, има проста процедура по настройките в модерните browser-и, която автоматично забранява тези технологии, както и съгласието или отказа на приемането на текущите условия.
            <li>
                <ul>
                    <li>Google Analytics се използва да съхранява статистики, демографска информация, интереси, поведение в сайта. Може да научите повече на <a href="https://www.google.com/analytics/">www.google.com/analytics</a>.
                    <li>Използваме Google Search Console, за да разберем как посетителите ни намират и как да подобрим оптимизацията си за търсачки.
                    <li>Част или целият трафик на сайта се пренасочва през <a href="https://www.cloudflare.com">cloudflare.com</a>.
                </ul>
            <li>Промени по правилата.
                Може да обновяваме тези правила от време на време, например когато добавяме подобрения, нови продукти, функционалности, интерграции, при промяна на използвнани технологии или пормени в законите.
                Всяка промяна влиза в сила след обновяването на страницата с правилата.

                Ще Ви предоставим известие при промяна, а където е нужно вашето законово съгласие, ще Ви бъде поискано.
                Нотификацията ще бъде предоставена по email или ще бъде публикувана в сайта.
            <li>Запазване на лични данни. 
                <ul>
                    <li>Ние пазим личните Ви данни докато профилът Ви се счита за активен.
                </ul>
            <li>Може да се свържете с нас на email <a href="mailto:tekstove.info@gmail.com">tekstove.info@gmail.com</a>.
            <li>Правата Ви:
                <ul>
                    <li>Имате право да поискате достъп до личните си данни.
                    <li>Имате право да поискате да изтрием личните Ви данни.
                    <li>Може да поискате личните си данни в преносим формат.
                </ul>
        </ul>
    <li> Използване за комерсиални цели <br>
        Нямате право да показвате, разпространявате, лицензирате, публикувате, възпроизвеждате, копирате, да създавате производни произведения,
        променяте, продавате, препродавате, използвате
        за комерсиални цели която и да е част от системата, използването на системата, връзката към системата.
        Тази система е предназначена за лично ползване и не е разрешено да се ползва за комерсиални цели.
    <li>Връзки:
        <ul>
            <li><a href="http://en.wikipedia.org/wiki/Web_beacon">en.wikipedia.org/wiki/Web_beacon</a>
            <li><a href="http://bg.wikipedia.org/wiki/HTTP-бисквитка">bg.wikipedia.org/wiki/HTTP-бисквитка</a>
            <li><a href="http://www.networkadvertising.org">www.networkadvertising.org</a>
            <li><a href="https://www.google.com/analytics/">www.google.com/analytics</a>
            <li><a href="https://www.cloudflare.com">cloudflare.com</a>
            <li><a href="https://www.google.com/webmasters/tools/home">www.google.com/webmasters/tools/home</a>
        </ul>
</ol>
