{% extends 'SiteBundle::main.html.twig' %}

{% block title %}
    {{ publisher.name }}
{% endblock %}

{% block content %}
    <div class="row">
        <h1>
            {{ publisher.name }}
        </h1>

    </div>
{% endblock %}
