{% extends 'TekstoveBundle::main.html.twig' %}
{% block content %}

    <a href="http://respect-bg.com/" target="_blanc">Respect Records</a>
    <br><br>
    <a href="http://djgeorge032.com/" title="DJ George`s Official Web Site" target="_blank">Dj George</a>
    <br><br>
    <a href="http://lyrics2bg.com" title="преводи на текстове на песни" target="_blank">http://lyrics2bg.com, Преводи на текстове на песни</a> <i>на</i> <a href="profile.php?profile=508">dRiNKiN_pARk</a>
    <br/><br/>
    <a href="http://www.upsmiledown.org/" target="_blank">www.upsmiledown.org</a>
    <br><br>
    <a href="http://lilwaynebg.com/" target="_blan">lilwaynebg.com</a>
    <br/><br/>
    <a href="http://359blackmusic.com/" target="_blank">359blackmusic.com</a>
    <br/><br/>
    <a href="http://www.tekst.ml/" target="_blanc">www.tekst.ml</a>
    <br/><br/>
    <a href="http://folkfen.ga/" target="_blanc">folkfen.ga</a>

{% endblock %}