{#
ads are temporary disabled

{% if (not is_granted('IS_AUTHENTICATED_FULLY')) and (ads is defined and ads is not empty) %}
    <div class="row" >
        <div class="t-index-lyrics-block-container">
            <b>реклама</b>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- tekstove-index-responsive -->
            <ins class="adsbygoogle"
                 style="display:block; height: 90px;"
                 data-ad-client="ca-pub-9814286074038098"
                 data-ad-slot="1462680215"
                 data-ad-format="horizontal"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    </div>
{% endif %}
#}
