{% if (not is_granted('IS_AUTHENTICATED_FULLY')) %}
    {% if (ads is defined and ads is same as (1)) %}
        <div class="row">
            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <!-- tekstove.info/browse responsive above text -->
            <ins class="adsbygoogle"
                 style="display:block"
                 data-ad-client="ca-pub-7557813120598565"
                 data-ad-slot="8668399606"
                 data-ad-format="auto"
                 data-full-width-responsive="true"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    {% endif  %}
{% endif %}
