{% extends 'SiteBundle::main.html.twig' %}
{% block content %}
    <table class="table table-striped table-hover">
        <tr>
            <th>
                Категория
            </th>
            <th>
                Най-нова тема
            </th>
        </tr>
        {% for category in categories %}
            <tr>
                <td>
                    <a href="#{{ category.id }}">
                        <div clsas="container-fluid">
                            {{ category.name }}
                        </div>
                    </a>
                </td>
                <td>
                    {% if category.lastTopic is not empty %}
                        {{ category.lastTopic.name }}
                        #
                        {{ category.lastTopic.id }}
                    {% endif %}
                </td>
        {% endfor %}
    </table>
{% endblock %}
