{% extends 'SiteBundle::main.html.twig' %}
{% block content %}

{% if message %}
    <div class="alert alert-info" role="alert">
        {{ message }}
    </div>
{% endif %}

{{ form_start(form) }}
{{ form_end(form) }}

{% endblock %}
